@font-face {
    font-family: Averia Sans Libre;
    src: url(Font/Averia_Sans_Libre/AveriaSansLibre-Regular.ttf);
}

@font-face {
    font-family: Oswald;
    src: url(Font/Oswald/Oswald-Regular.ttf)
}