@import url("font.css") ;

/*Header*/

/*Logotype */

.partlogo {
  height: 60px;
  width:100px;
  background-color: white;
}

.presentation image {
  background: url(Logo TTM.png);
  display: block;
  justify-content: center;
  margin: 345px;
}

/*Body*/

html, body {
	height: 100%;
	margin: 0; padding: 0;
}


.intro { 
  height: 338px;
  background-size: cover;
  background-position: center;
  color:black;
  background-color:white;
  background-image:linear-gradient(
    rgba(0, 0, 0, 0.43), 
    rgba(0, 0, 0, 0.43)) ,url(assets/Page\ produit\ 1\ -\ Ambiance/PP1\ Ambiance\ 1.jpeg);
  margin: 0;
  z-index: 1;
}

h1 {
  font-size: 25px;
  line-height: 180px;
  font-style: bold;
  font-family: Averia Sans libre;
  color: white; 
  text-align: center; 
}

h2 {
  color: white;
  font-size: 18px;
  font-family: Oswald;
  font-style: Regular;
  text-align: center;
}

p {
  font-family: Oswald;
  font-style: Regular;
  text-align: center;
  font-size: 14px;
}


.button-1 {
  z-index: 2;
  display: block;
  font-family: Averia Sans Libre;
  font-style: Bold;
  font-size: 20px;
  margin:0 ;
  text-align: center;
  width: 271px;
  height: 43px;
  line-height:50px;
  background-color: #FEEBA1; 
  color:black;
  margin-right: auto;
  margin-left: auto;
}

/* .button:hover{
    
} */


/* Produits */

.product1 {
  display: block;
  justify-content: center;
  align-items:center;
  margin:0 auto;
  margin-top: 30px;
  height: 240px;
  width: 260px;
}

/* Actualités */

#actu
{
    height:auto;
    background:url('assets/Homepage/Produit\comptoir.jpg');
}

.Actualites {
    height: 338px;
    background-size: cover;
    background-position: center;
    color:black;
    background-color:white;
    background-image:;
    margin: 0;
    z-index: 1;

}

.fondactu {

    display: block;
    justify-content: center;
    align-items:center;
    margin:0 auto;
    margin-top: 30px;
}

.actualité {

    width:940px;
    margin:0;
    padding :10px;
}

a {
  font-family: 'Averia Sans Libre', cursive;
  font-size:16px;
}

.Actualités {
  background:white;
  display: inherit;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  height: 300px;
  width: 400px;

}

.Actualité1{
display:block;
justify-content: center  
}

.Titractu {
  position: relative;
  display: inherit;
  color:black;
  text-align: center;
  justify-content: flex-start;
  margin-right: 215px;
  height: 30px;
  width: 180px;
  background:#FEEBA1; 
  line-height:
}

.imagefromage {
  position:relative;
  display:inline-block;
  text-align: center;
  justify-content:center;
  margin-right:
}

.entreprise {
  width: 390px;
  height: 203px;
  margin: 0;
}


/* PAGE PRODUIT */

.responsive {
  background-color: #ffffff;
}

.imgpresentation {
  max-width: 100%;
  height: 222px;
  background-size: cover;
  background-position: center;
  color: black;
  background-color: rgb(255, 255, 255);
  background-image: linear-gradient(rgba(0, 0, 0, 0.43), rgba(0, 0, 0, 0.43)),
    url();          
  margin: 0;
}

.pageproduit.title {
  float: right;
  font-family: Averia Sans Libre;
  font-style: Bold;
  font-size: 20px;
  margin: 0;
  text-align: center;
  width: 130px;
  height: 43px;
  line-height: 50px;
  background: rgba(254, 235, 161, 0.5);
  color: black;
  margin: 0;
  padding: auto;
}

.main {
  margin-right: 5%;
  margin-left: 5%;
}

.black {
  color: black;
}

h1.black.carac {
  max-width: 175px;
  text-align: left;
  line-height: 60px;
}

h2.black.other {
  margin: 15px;
  text-align: center;
  max-width: 100%;
}

h2.black.name {
  width: 100%;
  height: 35px;
  text-decoration: none;
  background-color: #feeba1;
}

.imgtext {
  position: relative;
}

.descriptive {
  margin-top: 3%;
  line-height: 140%;
  font-family: Oswald;
  font-style: Regular;
  font-size: 14px;
  text-align: left;
}

p.caract {
  line-height: 140%;
  font-family: Oswald;
  font-style: Regular;
  font-size: 14px;
  text-align: left;
}

.imgproduct {
  float: right;
  width: 40%;
  height: 40%;
}

.buttonorder {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: #fff5cd;
  border-radius: 5px;
  max-width: 50%;
  height: 100px;
  margin-left: 25%;
  justify-content: space-around;
}

.buttonpur .h12produit {
  text-align: center;
  line-height: 50px;
}

.bgbutton {
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  border-radius: 40px;
  background-color: #feeba1;
}

.order {
  padding-top: 15px;
  height: 35px;
}

.videoproduct {
  width: 100%;
  height: 33vh;
  margin-top: 5%;
}

figure {
  display: flex;
  flex-flow: column;
  -moz-box-shadow: 5px 5px 10px 0px #cfcfcf;
  -webkit-box-shadow: 5px 5px 10px 0px #cfcfcf;
  -o-box-shadow: 5px 5px 10px 0px #cfcfcf;
  box-shadow: 5px 5px 10px 0px #cfcfcf;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=134, Strength=10);
}

.otherproduct {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
}

.product {
  width: 40%;
}

.suggest {
  width: 100%;
  height: 100%;
  margin-bottom: 0;
}


/* page article-1 */

h2.titre-article {
  font-size: 22px;
  font-family: Oswald;
  font-style: Regular;
  text-align: center;
  color: black;
}

p.paragraphe-article {
  font-family: Oswald;
  font-style: regular;
  font-size: 14px;
  line-height: 21px;
  text-align: justify;
  margin: 5%;
}

.video-article1 {
  display: flex;
  justify-content: center;
  align-content: center;
}

footer {
  bottom: 0;
  color: black;
  font-family: Oswald;
  font-style: regular;
  font-size: 12px;
  background-color: #FEEBA1;
  width: 100vw;
  height: 32px;
  line-height: 32px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.twitter {
  position: relative;
  top: 25%;
  left: 3%;
  height: 14px;
  width: 14px;
}

/* menu burger */

.nav {
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 15px;
  right: 15px;
  background-color: #FEEBA1;
  overflow: hidden;
  transition: height 0.5s, width 0.5s, left 0.5s,
  bottom 0.5s, border-radius 0.3s;
}

nav.is-open {
  height: 100vh;
  width: 100vw;
  border-radius: 0;
  left: 0;
  bottom: 0;
}

.open {
  position: fixed;
  top: 15px;
  right: 15px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  cursor: pointer;
}

.open-icon {
  transition: background-color 0.3s;
}

.open-icon,
.open-icon::before,
.open-icon::after {
  width: 30px;
  height: 4px;
  background: black;
}

.open-icon::before,
.open-icon::after {
  content: '';
  display: block;
  transition:  transform 0.3s 
}

.open-icon::before {
  transform: translateY(-8px);
}

.open-icon::after {
  transform: translateY(4px);
}

nav.is-open .open-icon {
  background-color: transparent; 
}

nav.is-open .open-icon:before {
  transform: translateY(2px) rotate(45deg);
}

nav.is-open .open-icon:after {
  transform: translateY(-2px) rotate(- 45deg);
}

ul {
  display: flex;
  top: 0;
  left: 0;
  position: fixed;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  transform: translate(calc(50vw - 40px, -50vh + 40px)) scale(0);
  transition: 0.5s, opacity 0.3s;
}

nav.is-open ul { 
  transform: none;
  opacity: 1;
}

nav:not(.is-open) ul{
  pointer-events: none;
}

li {
  font-family: Averia Sans Libre;
  text-transform: uppercase;
  font-size: 60px;
 
}

li:not(:last-child) {
  margin-bottom: 20%;
}

/* media query */

@media{
  .carrousel{
    height:300px;
    top:10%;
    left:10%;
  }
  .pageproduits{
    font-size:24px;
    width:150px;
    height:50px;

  }
  .

}